/Tugas2/nbproject/private/
/Tugas2/build/
/Pertemuan4/nbproject/private/
/Pertemuan4/build/
/Pertemuan5/nbproject/private/
/Pertemuan5/build/
/Pertemuan5/dist/
/Pertemuan6/nbproject/private/
/Pertemuan6/build/
/Pertemuan7/nbproject/private/
/Pertemuan7/build/
/ETS_Praktikum/nbproject/private/
/ETS_Praktikum/build/
/Pertemuan8/nbproject/private/
/Pertemuan8/build/
/Pertemuan9/nbproject/private/
/Pertemuan9/build/
/Pertemuan10/nbproject/private/
/Pertemuan10/build/
/Pertemuan11/target/
/Pertemuan12/target/
/Pertemuan13/nbproject/private/
/Pertemuan13/build/
/Pertemuan14/nbproject/private/
/Pertemuan14/build/
